{% extends "base.html" %}

{% block content %}
	<h1>{{ _('Request Password Reset') }}</h1>
	<form action="" method="post">
		{{ form.hidden_tag() }}
		<div class="col-lg-6">
        <div class="mb-3 required">
		  {{ form.username.label(class_='form-label') }}
	      {{ form.username(class_='form-control', id_='username', placeholder_='Username or E-mail') }}
	      {% for error in form.username.errors %}
        	<div class="text-danger">
		    	{{ error }}
		    </div>
		  {% endfor %}
	    </div>
        {{ form.submit(class_='btn btn-primary') }}
        </div>
	</form>
{% endblock %}