# Mac
.DS_Store

# ignore postgresql tablespace folder
PG_13_202007201/

# readme.txt for now
readme.txt

# I replaced it with dotenv(python)
# So you have to include dotenv(.env) in root directory
.flaskenv

# Not necessary?
tests.py

# ignore the environment
# this file
.env

# not necessary(can be recreated)
messages.pot

# ignore chrome driver for browser testing the app
chromedriver
