<table class="table table-hover">
		<tr>
			<td width="70px">
				<a href="{{ url_for('main.user', username=post.author.username) }}">
					<img style="height: 40px; width: 40px;" src="{% if post.author.avatar_img %}
                {% set path = 'avatars/' + post.author.avatar_img %}
                {{ url_for('static', filename=path) }}
            {% else %}
                    {{ post.author.avatar(36) }}
            {% endif %} " />
				</a>
			</td>
			<td>
				<span class="user_popup">
					<a href="{{ url_for('main.user', username=post.author.username) }}">
					{{ post.author.username }}
					</a>
				</span>
				<p>
			    {{ post.author.username }} said {{ moment(post.timestamp).fromNow() }}: <b>{{ post.body }}</b>
			    </p>
			</td>
		</tr>
</table>