<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>{% if title %}{{ title }} - twit-clone{% else %}Welcome to twit-clone!{% endif %}</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<!-- Bootstrap -->
	<!-- CSS only -->
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='bootstrap.min.css') }}">
	<style type="text/css">
		a {
			color: black;
			text-decoration: none;
		}
	</style>
</head>
<body>
	<header class="p-3 bg-dark text-white">
	  <div class="container">
	    <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
	      <a href="/" class="d-flex align-items-center mb-2 mb-lg-0 text-white text-decoration-none">
	        
	      </a>

	      <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
	        <li><a href="{{ url_for('index') }}" class="nav-link px-2 text-secondary">Twit-clone</a></li>
	        {% if current_user.is_anonymous %}
	        
	        {% else %}
	        <li>
	        	<a href="{{ url_for('user', username=current_user.username) }}" 
	        		class="nav-link px-2 text-white">
	        		{{ _('Profile') }}
	        	</a>
	        </li>
	        <li>
	        	<a href="{{ url_for('explore') }}" 
	        	class="nav-link px-2 text-white">{{ _('Explore') }}</a>
	        </li>
	        <li>
	        	<a href="{{ url_for('my_feed') }}" class="nav-link px-2 text-white">{{ _('Feed') }}</a>
	        </li>
	        {% endif %}
	        <li>
        		<a href="{{ url_for('articles') }}" class="nav-link px-2 text-white">{{ _('Articles') }}</a>
        	</li>
	      </ul>

	      {% if g.search_form %}
	      	{% if request.path == '/articles' or request.path == '/search_article' %}
	      		<form method="get" action="{{ url_for('search_article') }}" 
	      				class="col-12 col-lg-auto mb-3 mb-lg-0 me-lg-3">
		      	{{ g.search_form.q(class_="form-control form-control-dark",  placeholder=g.search_form.q.label.text)}}
		      </form>
		    {% else %}
		      <form method="get" action="{{ url_for('search') }}" 
		      		class="col-12 col-lg-auto mb-3 mb-lg-0 me-lg-3">
		      	{{ g.search_form.q(class_="form-control form-control-dark",  placeholder=g.search_form.q.label.text)}}
		      </form>
		    {% endif %}
	  	  {% endif %}

	      <div class="text-end">
	      	{% if current_user.is_anonymous %}
	        <a href="{{ url_for('login') }}" class="btn btn-outline-light me-2">{{ _('Login') }}</a>
	        {% else %}
	        <a href="{{ url_for('logout') }}" class="btn btn-outline-secondary">{{ _('Log out') }}</a>
	        {% endif %}
	      </div>
	    </div>
	  </div>
	</header>
	<div class="container mt-3">
	{% with messages = get_flashed_messages() %}
		{% if messages %}
			{% for message in messages %}
				<div class="alert alert-warning" role="alert">
				  {{ message }}
				</div>
			{% endfor %}
		{% endif %}
	{% endwith %}
	</div>
	<div class="container">
		{% block content %}{% endblock %}
	</div>


	{{ moment.include_jquery() }}
	{{ moment.include_moment() }}


</body>
</html>