{% extends "base.html" %}

{% block content %}
	<div class="container col-xxl-8 px-4 py-5">
	  <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
	    <div class="col-10 col-sm-8 col-lg-6">
	      <img src="{{ url_for('static', filename='friends.png') }}" class="d-block mx-lg-auto img-fluid" alt="Friends hugging" width="700" height="500" loading="lazy">
	    </div>
	    <div class="col-lg-6">
	      <h1 class="display-5 fw-bold lh-1 mb-3">{{ _('Welcome to') }}<br> {{ _('twit-clone') }}</h1>
	      <p class="lead">
	    	{{ _('Place where you can express your opinions and see what others think about it.') }}
	      </p>
	      {% if current_user.is_anonymous %}
	      <div class="d-grid gap-2 d-md-flex justify-content-md-start">
	        <a href="{{ url_for('auth.register') }}" class="btn btn-primary btn-lg px-4 me-md-2">
	        	{{ _('Sign up') }}
	        </a>
	      </div>
	      {% endif %}
	    </div>
	  </div>
	</div>
{% endblock %}