{% extends "base.html" %}

{% block content %}
    <h1 class="display-5">{{ _('Upload avatar image') }}</h1>
    <form method="post" enctype="multipart/form-data">
        {{ form.hidden_tag() }}
        <div class="col-lg-6">
        <div class="mb-3 required">
          {{ form.image(class_='form-control', id_='username', placeholder_='Username') }}
          {% for error in form.image.errors %}
            <div class="text-danger">
              {{ error }}
            </div>
          {% endfor %}
          <p>{{ _('Image shouldn\'t exceed 1MB(megabyte)') }}</p>
        </div>
        {{ form.submit(class_='btn btn-primary') }}
        </div>
    </form>
{% endblock %}